# ignore all
*

# except
!.gitignore
!LICENSE
!README.md
!worker
!vendor
!vendor/laravel-worker
!vendor/laravel-worker/*
!vendor/laravel-worker/templates
!vendor/laravel-worker/templates/list
!vendor/laravel-worker/templates/list/*
!vendor/laravel-worker/templates/module
!vendor/laravel-worker/templates/module/*
!vendor/laravel-worker/templates/object
!vendor/laravel-worker/templates/object/*
!vendor/laravel-worker/templates/views
!vendor/laravel-worker/templates/views/*
!vendor/laravel-worker/templates/views/*/*
!vendor/laravel-worker/templates/themes
!vendor/laravel-worker/templates/themes/default
!vendor/laravel-worker/templates/themes/default/*
!vendor/laravel-worker/templates/themes/default/*/*
!test.bat
!config
!config/modules/*
!config/modules/*/*
!config/modules/*/*/*
!modules
!modules/*
!modules/*/*
!modules/*/*/*
!modules/*/*/*/*
!routes
!routes/api.php
!routes/web.php
!composer.json
!resources
!resources/views
!resources/views/modules
!resources/views/modules/*
!resources/views/modules/*/*
!resources
!resources/views
!resources/views/themes
!resources/views/themes/*
!resources/views/themes/*/*
!resources/views/themes/*/*/*
!resources/css
!resources/css/app.css
!resources/scss
!resources/scss/app.scss
!tailwind.config.js
!webpack.mix.js